
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

/* sheared styles  */
.display-flex{
  display: flex;
}

/* navbar related style */
.navbar{
  justify-content: space-between;
  align-items: center;
}

  
.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-link{
  text-decoration: none;
  font-weight: 500;
  font-size: 1.25rem;
}
.school{
  font-weight: bold;
  font-size: 2rem;
}

/* banner styles */
.banner{
  gap: 50px;
  
 
}
.banner-image{
  /* width: 100%; */
}
.banner-content{
  max-width: 640px;
  max-height: 331px;
  
  
}
/* .banner-image{
  width: 100%;
} */

/* color styles */
.color1{
  color: Orange;
}
.color2{
  color: Sky Blue;
}
.color3{
  color: #05D4DF;
}
.color4{
  color: #5D58EF;
}
.color5{
  color: #64C8FF;
}
.color6{
  color: #F0AA00;

}
.color7{
  color:#8700FF;
}
/* button styles */
.btn-1{
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 12px;
  border: none;
  background-color: orange;
  color: #FFFFFF;
  padding: 10px 10px;
  height: 50px;
  width: 197px;

}
.btn-2{
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 12px;
  background-color: black;
  color: #FFFFFF;
  padding: 10px 10px;
  height: 50px;
  width: 197px;
  
}

/* main style */
.title-2{
  text-align: center;
}
.Curriculum{
  width: 1160px;
  height: 481px;
  border-radius: 18px;
  display: flex;
  /* grid-template-rows: repeat(3, 1fr); */
  justify-content: space-around;
  
}
.kinder{
  width: 367px;
  height: 476px;
  border-radius: 1.25rem;
  background-image: linear-gradient(#DEF5FF,#FFFFFF);
  margin: 0 auto;
  text-align: center;
  
}
.elementary{
  width: 367px;
  height: 481px;
  border-radius: 1.25rem;
  background-color: #FFF4DC;
}
.middle{
  width: 367px;
  height: 476px;
  border-radius: 1.25rem;
  background-color: #F2E8FF;
}


/* responsive media query */
@media screen and (max-width: 576px) {
  .navbar, .nav-links,
  .banner,
  .banner-content{
    flex-direction: column;
  }
  
}

