
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}
body {
  background-image: url(../assets/bg.png);
}

/* sheared styles  */
.display-flex{
  display: flex;
}

/* navbar related style */
.navbar{
  justify-content: space-between;
  align-items: center;
}

/* .nav-school{
  margin: 0;
} */
.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-link{
  text-decoration: none;
  font-weight: 500;
  font-size: 1.25rem;
}
.school{
  font-weight: bold;
  font-size: 2rem;
}

/* banner styles */
.banner{
  gap: 50px;
  justify-content: center;
  
  /* flex-direction: column-reverse; */
 
}
.banner-image{
  /* width: 100%; */
}
.banner-content{
  max-width: 700px;
  /* max-height: 331px; */
  
}
.banner-title{
  font-size: 56px;
  font-weight: bold;
  text-align: center;
}
.banner-description{
  font-size: 1.25;
  font-weight: 400;
  text-align: center;
  
}
/* .banner-image{
  width: 100%;
} */

/* color styles */
.color1{
  color: Orange;
}
.color2{
  color: #01ACFD;
}
.color3{
  color: #05D4DF;
}
.color4{
  color: #5D58EF;
}
.color5{
  color: #64C8FF;
}
.color6{
  color: #F0AA00;

}
.color7{
  color:#8700FF;
}


/* button styles */
.btn-1{
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 12px;
  border: none;
  background-color: orange;
  color: #FFFFFF;
  padding: 10px 10px;
  height: 50px;
  width: 197px;

}
.btn-2{
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 12px;
  background-color: black;
  color: #FFFFFF;
  padding: 10px 10px;
  height: 50px;
  width: 197px;
  margin-left: 250px;
  
}
.btn-3{
  width: 60px;
  height: 60px;
  border-radius: 2rem;
  background-color: orange;
  color: #FFFFFF;
  border: none;
  font-size: solid;
}
.btn-4{
  width: 60px;
  height: 60px;
  border-radius: 2rem;
  background-color: orange;
  color: #FFFFFF;
  border: none; 
  font-size: solid;
  
} 
 .btn-section{
  display: flex;
  justify-content: center;
  
}
 .btn-5{
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 12px;
  background-color: black;
  color: #FFFFFF;
  padding: 10px 10px;
  height: 50px;
  width: 197px;
  margin:20px 850px;
 }
 .for-btn{
  justify-content: center;
  background-color:  rgba(254, 163, 1, 0.3);;
 }
 /* .bar{
  display: none;
 } */
/* main style */
.title-2{
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.title-3{
  text-align: center;
  font-size:3rem ;
  font-weight: bold;
  
}
.Curriculum{
  max-width: 1160px;
  /* max-height: 481px; */
  border-radius: 1.25rem;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  padding-top: 60px;
  padding-bottom: 80px;
  
}
.kinder{
  width: 367px;
  /* height: 476px; */
  border-radius: 1.25rem;
  background-image: linear-gradient(#DEF5FF,#FFFFFF);
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05);
  

}
.elementary{
  width: 367px;
  /* height: 481px; */
  border-radius: 1.25rem;
  text-align: center;
  margin: 0 auto;
  background-image: linear-gradient(#FFF4DC,#FFFFFF);
  box-shadow: 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05);

}
.middle{
  width: 367px;
  /* height: 476px; */
  border-radius: 1.25rem;
  text-align: center;
  margin: 0 auto;
  background-image: linear-gradient(#F2E8FF,#FFFFFF);
  box-shadow: 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05);

}
.fact-icon{
  margin-top: 52px;
}
.fact-name{
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 32 px;
}
.fact-description{
  font-size: 1rem;
  font-weight: 500;
  margin-top: 34px;
  margin-bottom: 34px;

}
.fact-last{
  font-size: 1rem;
  font-weight: bold;
}

/* story design */
.stories{
 
  
  /* background-image: url(../assets/bg.png); */
  background-color: rgba(254, 163, 1, 0.3);
  
}
/* .stories-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr); */
  
  /* background-image: url(../assets/bg.png); */
  
  /* align-items: center;
  width: 100%;
  justify-content: space-around;
 gap: 20px;
 height: 630px;
} */
 .stories-grid{
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px 0;
 }
.story-list{
  
  /* max-height: 622px; */
  display: grid;
  grid-template-columns: repeat(2,1fr);
  /* background-color: #FFFFFF; */
  gap: 20px;
  

  
}
.story-list-1{
  max-width: 540px;
  /* max-height:630px; */
  border-radius: 1rem;
  background-color: #FFFFFF;
 
}
.story-part-2{
  max-width: 290px;
  background-color: #FFFFFF;
  border-radius: 16px;
  
}
.story-part-3{
  background-color: #FFFFFF;
  border-radius: 16px;
  max-width: 290px;
}
.story-part-4{
  background-color: #FFFFFF;
  border-radius: 16px;
  max-width: 290px;
}
.story-part-5{
  background-color: #FFFFFF;
  border-radius: 16px;
  max-width: 290px;
}

/* footer design */
.foot{
  background-color: #01ACFD;
  width: 100%;
  
  text-align:center ;
  color: #FFFFFF;
}
.foot-line{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1071px; 
  /* height: 222px;; */
  margin: auto;

}
.logo{
  display: flex;
}
.kids{
  font-size:2.75rem;
  font-weight:bold ;

}
/* .logo-color{
  fill: #FFFFFF;
} */
.pizza{
  font-size: 1.25rem;
  font-weight: 500;
}
.bold{
  font-weight:bold ;
}
.border{
  border-radius: 16px;
}
.logo-color{
  height: 82px;
  width: 82px;
  margin-top: 20px;
}

/* responsive media query */
@media screen and (max-width: 576px) {
  .navbar, .nav-links,
  .banner,
  .banner-content,
  .Curriculum,
  .btn-section{
    flex-direction: column;
    
  }
  
  .banner{
    flex-direction: column-reverse;
  }
  .banner-content{
    justify-content: space-between;
  }
  /* .bar{
     display: flex;
     justify-content: space-between;
  }
  .ham{
    display: none; */
  
  .title-2{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .title-3{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .Curriculum{
   /* max-width: 357px; */
   /* max-height: 991px; */
   gap: 20px;
   padding-top: 20px;
   padding-bottom: 20px;
  }
  .story-list-1{
    display: none;
    
  }
  .stories-grid{

  }
  .story-list{
    /* width: 358px;
    height: 372px;
     */
     /* gap: 10px; */
     margin: 10px 10px 10px 10px;
  }
  .story-part-2, 
  .story-part-3,
  .story-part-4,
  .story-part-5
  {
    width: 100%;
 max-width: 100%;

  }
  .border{
    width: 100%;
  }
 
  .foot-line{
    display: inline;
    
  }
  .btn-5{
    margin: 20px 128px;
  }
  .btn-3, .btn-4{
    display: none;
  }
  .btn-2{
    margin:0 100px;
  }
}


